<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ichat</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            background: #7F7FD5;
            background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
            background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        }
        .card {
            background: rgba(0,0,0,0.4) !important;
        }
        .chat {
            min-height: 450px;
            max-height: 600px;
            overflow-y: auto;
        }
        /* scrollbar */
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,0.4) !important;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(24, 23, 23, 0.582) !important;
        }
        /*Conversation*/
        .conversation {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            /*width: 100%;*/
            border-left: 1px solid rgba(0, 0, 0, .08);
            /*overflow-y: auto;*/
        }

        .message {
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
            height: auto;
        }

        .message-body {
            margin: 0 !important;
            padding: 0 !important;
            width: auto;
            height: auto;
        }

        .message-main-receiver {
            padding: 3px 20px !important;
            max-width: 90%;
        }

        .message-main-sender {
            padding: 3px 20px !important;
            margin-left: 10% !important;
            max-width: 90%;
        }

        .message-text {
            margin: 0 !important;
            padding: 5px !important;
            word-wrap:break-word;
            font-weight: 200;
            font-size: 14px;
            padding-bottom: 0 !important;
        }

        .message-time {
            margin: 0 !important;
            margin-left: 50px !important;
            font-size: 12px;
            text-align: right;
            color: #9a9a9a;
        }

        .receiver {
            width: auto !important;
            padding: 4px 10px 7px !important;
            border-radius: 10px 10px 10px 0;
            background: #ffffff;
            font-size: 12px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            word-wrap: break-word;
            display: inline-block;
        }

        .sender {
            float: right;
            width: auto !important;
            background: #dcf8c6;
            border-radius: 10px 10px 0 10px;
            padding: 4px 10px 7px !important;
            font-size: 12px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            /* display: inline-block; */
            word-wrap: break-word;
        }

        @media screen and (max-width: 700px) {
            /*Conversation*/
            .conversation {
                padding: 0 !important;
                margin: 0 !important;
                height: 100%;
                /*width: 100%;*/
                border-left: 1px solid rgba(0, 0, 0, .08);
                /*overflow-y: auto;*/
            }
            .message {
                height: calc(100% - 140px);
            }
        }
    </style>
  </head>
  <body>
        <div id="app">

            <div class="container mt-5 h-100">
            <div class="row mt-5 justify-content-center h-100">
                <div class="col-md-10 col-lg-8 col-sm-10 col-xs-12 mt-5">

                    <div v-if="ready">
                        <p v-for="item in info">
                            {{item.name}} {{item.type}}
                        </p>
                    </div>

                    <div v-if="!ready" class="card">
                        <div class="card-body">
                            <h4 class="text-white">Set your name</h4>
                            <form class="ml-3" @submit.prevent="addName">
                                <p v-if="errors.length">
                                    <p class="bg-danger p-2" v-for="error in errors">{{ error }}</p>
                                </p>
                                <div class="form-group row">
                                    <input type="text" v-model="name" autofocus placeholder="What's your name?" class="col-9 form-control" />
                                    <input type="submit" value="Add" class="btn btn-sm btn-primary ml-1">
                                </div>
                            </form>
                        </div>
                    </div>

                    <h1 v-else>{{name}}</h1>
                    <div class="card bg-info" v-if="ready">
                        <div class="card-header text-white">
                            I Chat <span class="float-right">{{onlines}} Online users</span>
                        </div>
                        <div class="chat">
                            <div class="message" id="conversation" v-for="(message, index) in messages" :key="index">
                                <div class="row message-body">

                                    <div class="col-md-12 message-main-sender" v-if="message.type === 0">
                                        <div class="sender">
                                            <div class="message-text">
                                                {{message.message}}
                                            </div>
                                            <span class="message-time float-right">
                                                {{message.by}}
                                            </span>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-12 message-main-receiver" v-else>
                                        <div class="receiver">
                                            <div class="message-text">
                                                {{message.message}}
                                            </div>
                                            <span class="message-time float-right">
                                                {{message.by}}
                                            </span>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <form @submit.prevent="send">
                                <p v-if="errors.length">
                                    <p class="bg-danger p-2" v-for="error in errors">{{ error }}</p>
                                </p>

                                <div class="form-group">
                                    <input type="text" v-model="newMessage" autofocus placeholder="Type here..." class="form-control" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/vue.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

    <script>
        $(function () {
            var socket = io();
            let app = new Vue({
                el: '#app',
                data() {
                    return {
                        errors: [],
                        newMessage: '',
                        messages: [],
                        typing: false,
                        name: '',
                        info: [],
                        ready: false,
                        onlines: 0
                    }
                },
                watch: {
                    newMessage(value){
                        value ? socket.emit('typing', this.name) : socket.emit('stopTyping')
                    }
                },
                methods: {
                    send(e) {

                        if (this.newMessage) {

                            this.messages.push({message:this.newMessage,type:0, by: 'You'})
                            socket.emit('chat-message', {message:this.newMessage, user: this.name})

                            this.newMessage = null
                            
                            return true;
                        }
                        this.errors = [];

                        if (!this.newMessage) {
                            this.errors.push('You must type something!');
                            setTimeout(() => {
                                this.errors = [];
                            }, 1000);
                        }

                        e.preventDefault();
                    },
                    addName(e) {
                        if (this.name) {

                            this.ready = true
                            socket.emit('joined', this.name)

                            return true;
                        }
                        this.errors = [];

                        if (!this.name) {
                            this.errors.push('You must enter your name!');
                            setTimeout(() => {
                                this.errors = [];
                            }, 1000);
                        }

                        e.preventDefault();
                    }
                },
                created() {
                    window.onBeforeunload = () => {
                        socek.emet('leaved', this.name)
                    }


                    socket.emit('created', 'Ichat');

                    socket.on('onlines', (data) => {
                        this.onlines = data
                    });

                    socket.on('created', (data) => {
                        console.log(data);
                    });

                    socket.on('chat-message', (data) => {
                        this.messages.push({message:data.message,type:1, by: data.user})
                    });

                    socket.on('typing', (name) => {
                        this.typing = name
                    });

                    socket.on('stopTyping', () => {
                        this.typing = false
                    });

                    socket.on('joined', (data) => {
                        this.info.push({name:data, type:'Joined'})
                        setTimeout(() => {
                            this.info = []
                        }, 5000);
                    });

                    socket.on('leaved', (data) => {
                        this.info.push({name:data, type:'Leaved'})
                        setTimeout(() => {
                            this.info = []
                        }, 5000);
                    });
                },
            });
        });
    </script>
  </body>
</html>